body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
}

hr {
  border: 0.06rem solid hsl(27, 66%, 92%);
  border-width: 0.06rem 0rem 0rem 0rem;
}

h4 {
  color: grey;
}

h5 {
  font-weight: 400;
}

h6 {
  color: hsl(28, 10%, 53%);
  font-weight: 400;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Balance */

.balance {
  background-color: hsl(10, 79%, 65%);
  width: 35%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: white;
}

.margin-balance {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1.5rem;
  justify-content: space-between;
  
}

.balance-flex {
  display: flow;
  flex-direction: column;
}

.margin-balance img {
  float: right;
}
/* Expenses */

.expenses {
  background-color: white;
  width: 35%;
  border-radius: 1rem;
}

.margin-expenses {
  margin: 1.5rem;
}

.margin-expenses h2 {
  color: hsl(25, 47%, 15%);
}

.container-expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Total*/

.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 0fr;
}

#item1 {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 0.5rem;
  color: hsl(28, 10%, 53%);
}

#item2 {
  grid-row: 2 / 4;
  grid-column: 1;
  line-height: 1;
  margin: 0;
  color: hsl(25, 47%, 15%);
}

#item3 {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  bottom: 0;
  color: hsl(28, 10%, 53%);
}

#item3 h5 {
  bottom: 0;
  margin: 0;
}

#profit {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
